<div class="content-body">
    <div class="container-fluid">
      <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
          <div class="welcome-text">
            <h4 style="font-weight: bold; color: #c70039;">This is a real EMSAT test, just like the official exam</h4>
            <p class="mb-0">Please select the EMSAT test you would like to take.</p>
          </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Test Grid</a></li>
          </ol>
        </div>
      </div>
  
      <!-- Vertical Grid Layout -->
      <div class="vertical-grid-container">
        <div class="card" *ngFor="let test of Tests | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <div class="card-body">
            <div class="new-arrival-product text-center">
              <!-- Dynamic Image Assignment -->
              <div class="new-arrivals-img-contnent">
                <img class="img-fluid"
                     [src]="getTestImage(i)"
                     alt="{{ test.name }}">
              </div>
              <div class="new-arrival-content mt-2">
                <h5>{{ test.name }}</h5>
                <p>Created At: {{ test.createdAt | date }}</p>
                <a [routerLink]="['/admin/exam', test._id]"
                   class="btn btn-primary">
                   Take the exam
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Pagination Controls -->
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  