<div class="authincation h-100">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a [routerLink]="['/page-login']">
                                        <img style="width: 130px; height: 130px;" src="assets/emmsat.png" alt="">
                                    </a>
                                </div>
                                <h4 class="text-center mb-4">Sign up for your account</h4>
                                
                                <!-- Form submission handler -->
                                <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Username</strong></label>
                                        <input type="text" class="form-control" placeholder="Username" 
                                               [(ngModel)]="user.fullname" name="fullname" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Email</strong></label>
                                        <input type="email" class="form-control" placeholder="hello@example.com" 
                                               [(ngModel)]="user.email" name="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Password</strong></label>
                                        <input type="password" class="form-control" placeholder="Password" 
                                               [(ngModel)]="user.password" name="password" required minlength="8" #password="ngModel">
                                        
                                        <!-- Conditional span for password validation -->
                                        <span *ngIf="password.invalid && password.dirty && password.errors?.minlength" class="text-danger">
                                            Password must be at least 8 characters long.
                                        </span>
                                    </div>
                                    

                                    <div class="text-center mt-4">
                                        <button                                   
                                        
                                        style="background-color: #f72c36; border-color: #f72c36;"

                                                type="submit" class="btn btn-primary btn-block"
                                                [disabled]="!registerForm.form.valid">Sign me up</button>
                                    </div>
                                </form>
                                
                                <div class="new-account mt-3">
                                    <p>Already have an account? 
                                       <a style="color: #e41721;" class="text-primary" 
                                          [routerLink]="['/page-login']">Sign in</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
