/* General button styling */
button {
   background-color: rgb(190, 186, 186);
  color: black;
  border: 2px solid black;
   cursor: pointer;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between buttons */
  margin: 20px auto; /* Center horizontally with reduced margin */
  justify-content: center; /* Center the content */
}

h2, h3 {
  margin: 1rem;
  text-align: right;
  margin-right: 50px;
   /* Adjust for right alignment without large fixed values */
}

.full-width-container {
  width: 70%; /* Reduce width to make it less zoomed */
  margin: 0 auto; /* Center the container */
  display: flex;
  justify-content: center;
  margin-top: 3px; /* Reduce margin */
}

.full-width {
  width: 100%;
}

.active-category {
  background-color: #f0f0f0;
  border: 2px solid #8b0000;
  color: #007bff;
  cursor: not-allowed;
  position: relative;
}

/* Cross icon style */
.cross-icon {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust position of the icon */
  transform: translateY(-50%);
  color: red;
  font-size: 16px;
}

/* Button container styling */
.btn {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  align-items: center; /* Vertically center the buttons */
  margin: -4rem 5rem 2rem 2rem; /* Move it up by 1rem, and maintain side margins */
  padding: 1rem; /* Add inner space inside the container */
  gap: 1rem; /* Ensures space between buttons */
  flex-wrap: wrap; /* Buttons wrap if the screen is smaller */
  box-sizing: border-box; /* Padding/margin are accounted for */
}

 

.exam-container {
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center; 
  
  /* Center the content */
}
