<div 
    class="exam-container"
*ngIf="testData && testData.categories">
  <div></div>
  <div class="container">
    <ng-container *ngFor="let category of testData.categories">
      <button 
        mat-stroked-button 
        *ngIf="category.questions && category.questions.length > 0"
        [ngClass]="{'active-category': isActiveCategory(category.id)}"
        [disabled]="isActiveCategory(category.id)">
        {{ cleanCategoryName(category.name) }}
        <span *ngIf="isActiveCategory(category.id)" class="cross-icon">✘</span>
      </button>
    </ng-container>
  </div>

  <!-- Main timer display for the whole test -->
  <h2>Time Left: {{ displayTime }}</h2>

  <!-- Category timer display -->
  <h3 *ngIf="testStarted && selectedCategoryId"  >
    Section time: {{ getCategoryTimerDisplay(selectedCategoryId) }}
  </h3>
 
 
  <!-- Welcome component -->
  <div style="display: flex; justify-content: center; align-items: center;" *ngIf="!testStarted">
    <app-welcome-component (testStarted)="onTestStartConfirmed($event)"></app-welcome-component>
  </div>
  <!-- Question component -->


  <div *ngIf="testStarted && selectedCategoryId" class="full-width-container">
    <app-question-by-category [categoryId]="selectedCategoryId"
    (allQuestionsAnswered)="handleAllQuestionsAnswered($event)"

    class="full-width"></app-question-by-category>
  
  </div>
 

 <!-- Next category button -->

  
   <!-- Finish button -->

   <div class="btn" *ngIf="testStarted">

    <p-button 
    *ngIf="currentCategoryIndex < getCategoriesWithQuestions().length - 1"
    (click)="moveToNextCategory()"
 
    label="Next section">
  </p-button>
  
  <p-button 
    *ngIf="currentCategoryIndex === getCategoriesWithQuestions().length - 1"
    (click)="finishTest()"
     label="Finish the test">
  </p-button>
 
  </div>

 
 

 
</div>

